<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edusoft.android.main"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MoneySaverMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="edusoft.android.account.AccountActivity" android:label="สมุดบัญชี" />
		<activity android:name="edusoft.android.balance.BalanceActivity" android:label="รายรับ-รายจ่าย" />
		<activity android:name="edusoft.android.report.ReportActivity" android:label="รายงาน" />
    </application>
</manifest>